body
	font-size 18px 
	text-align center
h1
	color #E86566
	font-family: 'Source Sans Pro', sans-serif
	font-size 5em

h2
	color #A0CEB5
	font-family: 'Source Sans Pro', sans-serif
	font-size 4em
	text-align center

#desarrollado 
	color #A9B2B2
	font-family 'Yanone Kaffeesatz', sans-serif
	text-decoration none

#logo
	text-align center
	opacity .8
	width 300px
#logo:hover
	opacity 1

.redes
	background #E86566
	display inline-block
	height 40px
	font-size 2em
	margin 3em 0 0 0
	padding 10px
	width 40px

.uno 
	background #E86566

.dos 
	background #AF70AF	

.rs 
	color white
 	
	text-decoration none

.op 
	opacity .6
.op:hover
	opacity 1