body 
	font-size 16px
	text-align center
h1
	color #E86566
	margin .1em 0 1em
h2
	color white
#articulos
	background #ADCBE9
	padding 10px
#bienvenidos 
	background #AF70AF
	padding 10px
#boletin
	background #E86566
	padding 10px
#contenedor 
	margin 0 auto
	max-width 800px
#live
	background #F57D43
	padding 10px
#map
	background #A0CEB5
	padding 10px
#redes 
	p 
		color #AF70AF
#redessociales
	background #006CB8
	padding 10px
#redessociales_header
#redessociales_header a 
	color white
#redessociales_header i 
	opacity .6
#redessociales_header i:hover
	opacity 1
#slide 	
	background #E86566
	padding 20px 0
#visitanos
	background #A9B2B2
	padding 10px
.cuadros
	display inline-block
	height 30px
	font-size 2em
	margin 1em .1em 0
	padding 10px
	width 30px
.lila
	background #AF70AF
.rs
	color white 
	margin 0 10% 
.salmon
	background #E86566
.videoresponsive
	height 0px
	margin 0 auto 
	padding-top 56.25%
	position relative
	width 100%

.videoresponsive iframe
	height 100%
	left 0px 
	position absolute 
	top 0px 
	width 100% 