body 
	font-size 20px
	text-align center
	width 100%
h1
	color #E86566
	margin .1em 0 1em
h2
	color white
footer
	font-family 'Open Sans', sans-serif
#articulos
	background #ADCBE9
	padding 10px
#bienvenidos 
	background #AF70AF
	padding 10px
#boletin
	background #E86566
	padding 10px
#contenedor 
	margin 0 auto
	max-width 800px
#live
	background #F57D43
	padding 10px
#map
	display none
#redes 
	margin 20px
	p 
		color #AF70AF
		font-family 'Open Sans', sans-serif
		font-size 1.5em
#redessociales
	background #006CB8
	padding 10px
#redessociales_header
#redessociales_header a 
	color white
#redessociales_header i 
	margin 0 auto
	opacity .6
#redessociales_header i:hover
	opacity 1
#slide 	
	padding 20px 0
#visitanos
	background #A9B2B2
	padding 10px
.boletin 	
	margin 0 0 10px 0
.cuadros
	display inline-block
	height 30px
	font-size 1.5em
	margin 1em .1em 0
	padding 10px
	width 30px
.dr
	color black
	margin-bottom 0
.desarrollado
	color #A9B2B2
	font-size .8em
	margin-top 0
.desarrollado a 
	text-decoration none
	color #A9B2B2
.lila
	background #AF70AF
.rs
	color white 
	margin 0 5% 0 10%
.salmon
	background #E86566
.sello
	color #E86566
	font-size 2em
	margin-bottom 0
	margin-top 0
.slim 
	color white
	font-family 'Open Sans Condensed', sans-serif
	font-size .9em
	margin-bottom 0
	margin-top 1px
.videoresponsive
	height 0px
	margin 0 auto 
	padding-top 56.25%
	position relative
	width 100%

.videoresponsive iframe
	height 100%
	left 0px 
	position absolute 
	top 0px 
	width 100% 