#contenedor{
2
    max-width:800px;/* Recuerden aplicar el ancho máximo del contenedor*/
3
    margin:0 auto;
4
}
5
.videoResponsive{
6
    margin:0 auto;
7
    height:0px;
8
    width:100%; /*tomará el tamaño al 100% del #contenedor*/
9
    padding-top:56.25%; /*nos ayudara a la proporción del video*/
10
    position:relative;
11
 
12
}
13
.videoResponsive iframe{
14
    position:absolute;
15
    height:100%;
16
    width:100%;
17
    top:0px;
18
    left:0px;
19
}
